<h1><%= User.name %></h1>
<p><%- pie.Helper.Html.link(User.email, 'mailto:' + User.email) %></p>

<% User.Post.forEach(function(post) { %>
	<li>
		<h3><%- pie.Helper.Html.link(post.name, { 'controller' : 'posts', 'action' : 'view', 'id' : post.id }) %></h3>
		<p><%= post.content %></p>
	</li>
<% }) %>

<%- pie.Helper.ShowCode.standard() %>