<%- pie.Helper.Form.create() %>
	<%- pie.Helper.Form.input('name') %>
	<%- pie.Helper.Form.input('user_id') %>
	<%- pie.Helper.Form.input('content') %>
<%- pie.Helper.Form.end('Add Post') %>
<div class="clear-left"></div>

<%- pie.Helper.ShowCode.standard() %>