<h1>Posts Index
	<div class="float-right">
		<%- pie.Helper.Html.link('[add a post]', { 'action' : 'add' }) %>
		<%- pie.Helper.Html.link('[create fake post]', { 'action' : 'add_fake' }) %>
	</div>
</h1>
<div class="clear-both"></div>

<ul>
	<% Post.forEach(function(post){ %>
		<li>
			<h1><%- pie.Helper.Html.link(post.name, { 'action' : 'view', 'id' : post.id }) %></h1>
			<p><%= post.content %></p>
		</li>
	<% }) %>
</ul>

<%- pie.Helper.ShowCode.standard() %>