<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

	<head>
		<title>PieJS Example Blog</title>
		<%- pie.Helper.Html.css('default.css') %>

		<%- pie.Helper.Html.js('https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js') %>

		<script type="text/javascript">
			$(function() {
				$('pre').each(function(index) {
					$this = $(this);
					$this.html($this.html().replace(/\t/g, '    '));
				});
			});
		</script>
	</head>

	<body>
		<div id="header" class="corner-bottom">
			<ul id="site-links" class="inline">
				<li><%- pie.Helper.Html.link('posts', { 'controller' : 'posts' }) %></li>
			</ul>
			<h1>PieJS Example Blog</h1>
		</div>

		<div id="content" class="corner-all">
			<% if (typeof flash !== 'undefined' && flash && flash.info) { %>
				<div id="flash"><%= flash.info %></div>
			<% } %>

			<%- body %>
		</div>

		<div id="footer">&copy; <%- new Date().getFullYear() %> <%- pie.Helper.Html.link('fakewaffle', 'mailto:morris.justin@gmail.com')%></div>
	</body>
</html>